
@{
    ViewBag.Title = "About";
}

<h2>Kontaktuppgifter</h2>

<div class="row">
    <div class="col-md-2">
        Name:

    </div>

    <div class="col-md-8">
        Lillemor Eriksson
    </div>

</div>

<div class="row">
    <div class="col-md-2">
        Telefonnummer:
    </div>

    <div class="col-md-8">
        0736 79 99 79

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        E-mail:

    </div>

    <div class="col-md-8">
        lillemor.le-bild@@.se
    </div>

</div>

    